@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
body {
    overflow: hidden;
    background-color: #477879;
    font-family: 'Dancing Script', cursive;
}

.box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

.box::before {
    content: "";
    position: absolute;
    background-color: #e69c9f;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 0;
    clip-path: polygon(0 40%, 50% 0, 100% 40%, 100% 100%, 0 100%);
}

.box::after {
    position: absolute;
    width: 100px;
    background: #000;
    content: "";
    height: 10px;
    bottom: -30px;
    opacity: 0.4;
    filter: blur(10px);
}

.content {
    position: absolute;
    background-color: #f2eeE4;
    width: 88%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -1px);
    height: 80px;
    transition: 0.5s;
    text-align: center;
}

.designBox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #d26f72;
    display: block;
    clip-path: polygon(0 0, 50% 35%, 100% 0, 100% 100%, 0 100%);
}

.designBox::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background-color: #db5559;
    content: "";
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.box:hover .content {
    transform: translate(-50%, -30px);
}

input {
    position: absolute;
    left: -10px;
    opacity: 0;
}

input:checked~.content {
    bottom: 130px;
    width: 250px;
    height: 350px;
    margin: 0;
    left: 50%;
    transform: translate(-50%);
}

.content .title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    display: none;
}

.content .des {
    padding: 10px 20px;
    display: none;
}

.content label {
    width: 100%;
    text-align: center;
    display: block;
    display: none;
}

.content img {
    display: none;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

input:checked~.content img,
input:checked~.content .title,
input:checked~.content .des,
input:checked~.content label {
    display: block;
    opacity: 0;
    animation: showContent 1s ease-in-out 0.5s 1 forwards;
}

input:checked~.content .title {
    animation-delay: 0.7s!important;
}

input:checked~.content .des {
    animation-delay: 0.9s!important;
}

input:checked~.content label {
    animation-delay: 1.2s!important;
    cursor: pointer;
}

@keyframes showContent {
    from {
        opacity: 0;
        transform: translate(0, 50px);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

a {
    list-style: none;
    text-decoration: none;
    color: #1e3799;
    font-size: 20px;
    font-weight: 700;
}